:root {
    --body: #444242;
    --titulo: #444242;
    --texto: #ffffff;
    --body-contato: #ffffff;
    --header-contato: #444242;
    --main-contato: #F2F2F2;
    --titulo-contato: #FA9401;
    --botao-contato: #fa9401;
}